$dark:              #1C1C26;
$medium:            #3b3b50;
$light-bkg:         #ececf1;
$lighter-bkg:       #f2f2f5;
$light-text:        #999999;
$very-light-text:   #E1E1E8;
$link:              #4460de;
$link-light:        #9caeff;
$light-1:           #cbd5ff;
$light-2:           #a7f1d9;
$light-3:           #ffd8a8;
$medium-1:          #5062B4;
$medium-2:          #2C8265;
$medium-3:          #926226;

$header-height: 54px;
